.workProcess {
    position: relative;
    @include pdTB;

    .section-titles {
        @include section-titles-Style;
    }

    .workProcess-wrapper {

        .workProcess-item {
            text-align: center;
            padding: 10px 30px;

            .arrows1 {
                position: absolute;
                right: 55%;

                img {
                    width: 80%;
                }
            }

            .arrows2 {
                position: absolute;
                left: 55%;

                img {
                    width: 80%;
                }
            }

            .icon {
                color: $Black;
                border: 1px solid $Black;
                padding: 10px 12px;
                display: inline-block;
                border-radius: 50px;
                position: relative;
                font-size: $fz16;

                &::before {
                    content: "01";
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: $primary-Orange;
                    height: 26px;
                    width: 26px;
                    line-height: 26px;
                    text-align: center;
                    border-radius: 50px;
                    font-size: 12px;
                    font-weight: $fw600;
                    color: $white;
                }
            }

            .icon2 {

                &::before {
                    content: "02";
                }
            }

            .icon3 {

                &::before {
                    content: "03";
                }
            }

            h4 {
                font-family: $ff-Bricolage;
                font-weight: $fw600;
                font-size: $fz30;
                color: $Black;
            }

            p {
                font-size: $fz18;
                color: $Black;
                font-weight: $fw500;

            }
        }
    }
}