// Font Family
$ff-Bricolage : "Bricolage Grotesque";
$ff-Manrope : "Manrope";
// Font Sizes

$fz16 : 16px;
$fz18 : 18px;
$fz20 : 20px;
$fz14 : 14px;
$fz22 : 22px;
$fz24 : 24px;
$fz30 : 30px;
$fz40 : 40px;
$fz50 : 50px;
$fz80 : 80px;


// Font Width
$fw400 : 400;
$fw500 : 500;
$fw600 : 600;
$fw700 : 700;