.navigation {
    // position: sticky;
    // top: 20px;
    // min-width: 100%;
    margin: 20px 0px;

    .navbar {
        display: flex;
        align-items: center;
        background: $primaryMoreLightTeal;
        border-radius: 50px;
        padding: 15px 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .navbar-brand {
            a {

                img {
                    height: auto;
                    width: 600px;

                }
            }
        }

        .navbar-nav {
            display: flex;
            gap: 10px;
            margin-right: 1em;

            .nav-item {
                .nav-link {
                    font-size: $fz16;
                    font-weight: $fw-Bold;
                    color: $darkGray;
                    padding: 10px 20px;
                    transition: all .35s ease-in-out;

                    &:hover {

                        color: $primaryTeal;
                        background: $primaryLightTeal;
                        border-radius: 5px;
                    }


                }
            }
        }

        .navBtn {
            a {
                display: inline-block;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                background: $primaryTeal;
                color: $white;
                padding: 15px 30px;
                border-radius: 50px;
                font-size: $fz18;
                font-weight: $fw-Medium;

                .fa-arrow-right {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}